body {
  /* 원래의 스타일 */
  margin: 0;
  padding: 0;
  /* 배경색 수정 */
  background-color: rgba(
    240,
    248,
    255,
    0.5
  ); /* 아주 연한 채도의 노란색을 섞은 흰색 */

  /* 배경 그리드 수정 */
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 0
    ),
    radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 0);
  background-size: 30px 30px; /* 그리드 간격 설정 */
  background-position: 0 0, 15px 15px;
}
.content-wrapper {
  display: flex;
  flex-wrap: wrap; /* 추가 */
}
.left-scrollable {
  width: 300px; /* 수정된 너비 비율 설정 */
  height: 100vh; /* 전체 화면 높이 */
  overflow-y: scroll; /* 수직 스크롤 활성화 */
  background-color: #f0f8ff; /* 배경색 설정 */
  padding: 1.5rem; /* 적절한 패딩 적용 */
}
.image-container {
  width: 60vw; /* 수정된 너비 비율 설정 */
  height: 100vh;
  display: flex; /* 추가 */
  justify-content: center; /* 추가 */
  align-items: center; /* 추가 */
  position: relative;
  overflow: hidden;
}

#map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#map-image {
  position: absolute;
  transform-origin: top left;
}

a {
  text-decoration: none;
}

#category-bar {
  background-color: rgb(0, 100, 255);
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
#category-bar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#category-bar-buttons {
  margin-left: 10%;
}
#category-bar-buttons button {
  font: inherit;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 0 0.5rem;
  margin: 0.5rem 2rem;
  border: 0;
}
