body {
  /* 원래의 스타일 */
  margin: 0;
  padding: 0;
  /* 배경색 수정 */
  background-color: rgba(
    240,
    248,
    255,
    0.5
  ); /* 아주 연한 채도의 노란색을 섞은 흰색 */

  /* 배경 그리드 수정 */
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 0
    ),
    radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 0);
  background-size: 30px 30px; /* 그리드 간격 설정 */
  background-position: 0 0, 15px 15px;
}

a {
  text-decoration: none;
}

#category-bar {
  background-color: rgb(0, 100, 255);
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
#category-bar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#category-bar-buttons {
  margin-left: 10%;
}
#category-bar-buttons button {
  font: inherit;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 0 0.5rem;
  margin: 0.5rem 2rem;
  border: 0;
}

.content-wrapper {
  display: flex;
  flex-wrap: nowrap; /* 추가 */
}
.left-scrollable {
  width: 32vw; /* commit 3 */
  height: 100vh;
  overflow-y: scroll;
  background-color: #f0f8ff;
  padding: 2vw; /* commit 3 */
}

.category-box-list {
  width: 26vw; /* commit 3 */
}
.category-box-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.category-box-list ul li {
  background-color: white;
  border-radius: 6px;
  padding: 1vw; /* commit 3 */
  margin: 1rem 0;
  width: 100%;
}
.category-box-list button {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 1.3rem;
  margin: 0.2rem;
}
.restaurant-img {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 1rem 0;
  height: 100px; /* commit 3 */
}
.restaurant-img img {
  width: 45%;
  object-fit: cover; /* commit 3 */
}

.res-info {
  width: 45%;
}

.label {
  font-size: 0.8rem;
  font-family: sans-serif;
  color: rgb(83, 83, 83);
  margin: 0;
}
.label-info {
  font-family: sans-serif;
  margin: 0 0 0.5rem 0;
}
.resExplaination {
  font-family: sans-serif;
  margin: 1rem 0;
}

.blockDisplayNone {
  display: none;
}

.image-container {
  width: 100vw; /* 수정된 너비 비율 설정 */
  height: 100vh;
  display: flex; /* 추가 */
  justify-content: center; /* 추가 */
  align-items: center; /* 추가 */
  position: relative; /* 추가 */
  overflow: hidden;
}

#map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* #map-image {
  position: absolute;
  transform-origin: top left;
} */

#map {
  height: 80%;
  width: 100%;
  margin: 0 auto;
}
